# Dependencies
node_modules/
.pnp
.pnp.js

# Testing and builds
coverage/
build/
dist/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# Logs and system files
logs/
*.log
.DS_Store
